*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 200vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
    position: relative;
    left: -150px;
}

html { 
    -webkit-text-size-adjust: none; 
}

.intro{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -450px;
    left: 400px;
    transform: scale(1.2);
}

.book1{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 350px;
    left: -225px;
    transform: scale(1.2);
}

.book15{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 350px;
    left: 125px;
    transform: scale(1.2);
}

.book2{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 1000px;
    left: -250px;
    transform: scale(1);
}

.book3{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 1800px;
    left: -280px;
    transform: scale(1.6);
}

.book4{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 2650px;
    left: -500px;
    transform: scale(1.1);
}


.book5{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 2650px;
    transform: scale(0.9);
}

.padding{
    height: 100px;
    width: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 3150px;
}



.book{
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    position: relative;
    transform: scale(1.2);
    left: 75px;
}

.book:hover .cover{
    transform: rotateX(30deg) rotateY(-180deg);
    z-index: -1;
}

.book:hover .cover-back{
    transform: rotateX(30deg) rotateY(-180deg);
    z-index: 0;
}

.book:hover .page{
    transform: rotateX(30deg) rotateY(-180deg);
    z-index: 1;
}

.cover{
    z-index: 2;
    transition: all 3s;    
}
.cover-back{
    z-index: 0; 
    transition: all 3s;  
}
.back-cover{
    z-index: -4;
}


.cover, 
.cover-back,
.back-cover{
    height: 500px;
    width: 300px;
    background: #560707;
    border-radius: 2px 8px 8px 2px;
    box-shadow: 10px 10px 40px rgb(85, 85, 85);
    position: absolute;
    transform: rotateX(30deg);
    transform-origin: center left;
}

.cover img{
    position: relative;
    left: -25px;
    top: -20px;
}

#cover2,
#back-cover2{
    position: relative;
    left: -20px;
    top: -25px;
}

#cover3{
    position: relative;
    left: 0px;
    top: -10px;
    border-radius: 2px 12px 12px 2px;
}
#cover4{
    position: relative;
    left: -20px;
    top: -10px;
    border-radius: 2px 12px 12px 2px;
}

.back-cover img{
    position: relative;
    left: -25px;
    top: -20px;
}

.page,
.content{
    height: 480px;
    width: 290px;
    background-image:url("download.png");
    position: absolute;
    transform: rotateX(30deg);
    transform-origin: center left;
    z-index:0;
}
.content{
    z-index: -2;
}

.page:nth-child(3){
    transition-duration: 3s;
}
.page:nth-child(4){
    transition-duration: 2.6s;
}
.page:nth-child(5){
    transition-duration: 2.2s;
}
.page:nth-child(6){
    transition-duration: 1.8s;
}
.page:nth-child(7){
    transition-duration: 1.4s;
}

.book:hover .page:nth-child(3){
    transition-duration: 6s;
}
.book:hover .page:nth-child(4){
    transition-duration: 5.6s;
}
.book:hover .page:nth-child(5){
    transition-duration: 5.2s;
}
.book:hover .page:nth-child(6){
    transition-duration: 4.8s;
}
.book:hover .page:nth-child(7){
    transition-duration: 4.4s;
}

.cover h2{
    font: 700 15px 'Montserrat';
    color: #ffff;
    text-align: center;
    position: relative;
    top: 40px;
}
